/* Traitement des médias

Sommaire :

    1. Variables (root)
    2. Uniformisation de la mise en forme des boutons
    3. Changements universels
*/

/* Variables (root) */

:root {
    --primary-color: #69b86c;
    --secondary-color: #0c5625;
    --text-color: #dcf6fb;
    --white: #ffffff;
    --black: #000000;
}

/* Uniformisation de la mise en forme des boutons */

button {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Changements universels */

body {
    background: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h1 {
    color: var(--secondary-color);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 35px;
}

h2 {
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

h3 {
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
