/* Traitement des médias

Sommaire :

    1. Changements universels
    2. Images
    3. Média taille
*/

/* Changements universels */

* {
    box-sizing: border-box;
    text-align: center;
}

/* Images */

img {
    display: block;
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

img.icon {
    width: 34px;
    height: 34px;
}

/* Média taille */

.media--fullwidth {
    width: 75%;
    height: auto;
}